{
  "extends": [
    "@alicloud/eslint-config/tsx",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "import/order": ["error", {
      "groups": [
        "builtin",
        "external",
        "internal",
        "parent",
        "sibling",
        "index"
      ],
      "pathGroups": [{
        "pattern": "@?*/**",
        "group": "external",
        "position": "after"
      }, {
        "pattern": "[@~:]/**",
        "group": "internal"
      }],
      "pathGroupsExcludedImportTypes": [],
      "newlines-between": "always"
    }]
  }
}