/**
 * real button and <a> simulated button style, examples:
 * <button class="small red">x</button>
 * <button class="big blue" disabled="disabled">x</button>
 * <a href="javascript: void(0);" class="kcuF-button green">x</a>
 */
button, a.kcuF-button {/* gray medium */
	min-width: 50px;
	_width: 50px;/* ie6 min-width fix */
	border: 1px solid #333;
	cursor: pointer;
	border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-o-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
	/* size related */
	padding: 0 8px;
	font-size: 12px;
	line-height: 14px;
	/* theme related */
	color: #333;
	border-color: #999;
	background-color: #EEE;
	text-shadow: 0 1px 1px #FFF;
}
a.kcuF-button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	padding: 0 8px;
}
a.kcuF-button,
a.kcuF-button:hover,
a.kcuF-button:active,
a.kcuF-button:focus {
	text-decoration: none;
}
button:hover, a.kcuF-button:hover {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
}
button:active, a.kcuF-button:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -5px 15px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
}
/* button size */
button.tiny, a.kcuF-button.tiny {/* no min-width, no padding */
	padding: 0;
	font-size: 7px;
	line-height: 8px;
	min-width: 0;
	_width: 0;
}
button.small, a.kcuF-button.small {
	padding: 0 6px;
	font-size: 9px;
	line-height: 10px;
}
button.big, a.kcuF-button.big {
	padding: 0 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
}
button.red, a.kcuF-button.red {
	border-color: #966;
	background-color: #F33;
}
button.green, a.kcuF-button.green {
	border-color: #090;
	background-color: #6C3;
}
button.blue, a.kcuF-button.blue {
	border-color: #779;
	background-color: #69F;
}
/* disabled status */
button[disabled=disabled], button.disabled, a.kcuF-button[disabled=disabled], a.kcuF-button.disabled,
button[disabled=disabled]:hover, button.disabled:hover, a.kcuF-button[disabled=disabled]:hover, a.kcuF-button.disabled:hover,
button[disabled=disabled]:active, button.disabled:active, a.kcuF-button[disabled=disabled]:active, a.kcuF-button.disabled:active {
	cursor: default;
	color: #CCC;
	border-color: #CCC;
	background-color: #EEE;
	text-shadow: 0 1px 1px #FFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
		-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}