div.kcuF-grid {
	color: #333;
	font-size: 10px;
	line-height: 16px;
	position: relative;
}
div.kcuF-grid,
div.kcuF-grid tr {
	outline: none;/* remove focus outline */
}
div.kcuF-grid table {
	width: 100%;
	table-layout: fixed;
}
div.kcuF-grid th,
div.kcuF-grid td {
	cursor: default;
	padding: 0 2px;
	/* ellipsis */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
}
div.kcuF-grid div.grid-header,
div.kcuF-grid div.grid-body,
div.kcuF-grid div.grid-footer {
	overflow: hidden;
}
div.kcuF-grid.scroll div.grid-body {
	overflow-y: auto;
}
div.kcuF-grid div.grid-header {
	background: #EEE;
		background: -moz-linear-gradient(top, #EEE, #DDD 60%, #DDD);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#DDD), color-stop(60%, #DDD));
		filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#EEE, endColorStr=#DDD);
}
div.kcuF-grid div.grid-header th {
	text-shadow: 1px 1px 1px #999;
	border-bottom: 1px solid #FFF;
}
div.kcuF-grid div.grid-body col.grid-col-odd {
	background: #F0F0F0;
}
div.kcuF-grid div.grid-body col.grid-col-even {
	background: #F9F9F9;
}
div.kcuF-grid div.grid-body thead th {/* cannot make the tr display:none, that will make no use of the first-row width */
	border-bottom: none !important;
	height: 0;
}
div.kcuF-grid div.grid-body tbody td {
	border-top: 1px dotted transparent;
	border-bottom: 1px dotted #FFF;
}
div.kcuF-grid div.grid-body tbody tr.selected td {
	background: #FAFBFF;
		background: -moz-linear-gradient(top, #FAFBFF, #EBF3FD);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFBFF), to(#EBF3FD));
		filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FAFBFF, endColorStr=#EBF3FD);
}
div.kcuF-grid.focused div.grid-body tbody tr.selected td {
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
}
div.kcuF-grid div.grid-body tbody td span.grid-tree-toggler,
div.kcuF-grid div.grid-body tbody td span.grid-tree-toggler-ghost {
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	margin-right: 2px;
	overflow: hidden;
}
div.kcuF-grid div.grid-body tbody td span.grid-tree-toggler {
	color: #999;
	font-size: 12px;
}
div.kcuF-grid div.grid-body tbody td span.grid-tree-toggler:hover {
	color: #666;
	text-shadow: 1px 1px 1px #999;
}
div.kcuF-grid div.grid-footer {
	display: none;
}
div.kcuF-grid input.grid-editbox {
	position: absolute;
	font-size: 95%;
}