html,
body,
div.kcuF {
  height: 100%;
  /* for layout */
}
div.kcuF {
  overflow: hidden;
  min-height: 300px;
  _height: 300px;
  min-width: 400px;
  _width: 400px;
  /* for grid */
}
div.kcuF:after {
  /* clearfix */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html div.kcuF {
  height: 1%;
}
* + html div.kcuF {
  min-height: 1px;
}
div.kcuF .kcuF-toolbar {
  padding: 10px;
  margin: 0 0 5px 0;
  background: #E0E0E0;
  box-shadow: inset 0 15px 20px rgba(255, 255, 255, 0.5), inset 0 -7px 10px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 15px 20px rgba(255, 255, 255, 0.5), inset 0 -7px 10px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 15px 20px rgba(255, 255, 255, 0.5), inset 0 -7px 10px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0 15px 20px rgba(255, 255, 255, 0.5), inset 0 -7px 10px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.7);
  /*text-shadow: 1px 1px 1px #999;*/
}
div.kcuF .kcuF-toolbar select {
  width: 200px;
  color: #666;
}
div.kcuF .kcuF-toolbar .link-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
}
div.kcuF .kcuF-toolbar select,
div.kcuF .kcuF-toolbar button,
div.kcuF .kcuF-toolbar a {
  margin-left: 4px;
}
div.kcuF .kcuF-toolbar button.nb-btn {
  min-width: 60px;
}
div.kcuF .kcuF-sidebar,
div.kcuF .kcuF-main {
  float: left;
}
div.kcuF .kcuF-sidebar {
  width: 280px;
  margin-right: 4px;
  overflow: hidden;
  box-shadow: 2px 2px 2px #BBB;
  -moz-box-shadow: 2px 2px 2px #BBB;
  -webkit-box-shadow: 2px 2px 2px #BBB;
}
div.kcuF .kcuF-sidebar,
div.kcuF .kcuF-sidebar .title {
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
}
div.kcuF .kcuF-sidebar .title {
  padding: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFF;
  background: #EEE;
  box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.4), inset 0 -4px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.4), inset 0 -4px 9px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.4), inset 0 -4px 9px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.4), inset 0 -4px 9px rgba(0, 0, 0, 0.2);
}
div.kcuF .kcuF-sidebar span.menu-toggler {
  font-size: 75%;
  float: right;
  cursor: default;
  line-height: 16px;
}
div.kcuF .kcuF-main {
  width: 1100px;
  height: 90%;
}
div.kcuF .kcuF-main iframe {
  width: 100%;
  height: 100%;
  border: none;
}
div.kcuF .kcuF-grid .grid-body tbody td select,
div.kcuF .kcuF-grid .grid-body tbody td a,
div.kcuF .kcuF-grid .grid-body tbody td span,
div.kcuF .kcuF-grid .grid-body tbody td label {
  font-size: 80%;
}
div.kcuF .kcuF-grid .grid-body tbody td label,
div.kcuF .kcuF-grid .grid-body tbody td label input {
  vertical-align: middle;
}
div.kcuF .kcuF-grid .grid-body tbody td label {
  display: inline-block;
  width: 40px;
}
div.kcuF .kcuF-grid .grid-body tbody td label input {
  margin-right: 2px;
}
div.kcuF .kcuF-grid .grid-body tbody td select {
  width: 100%;
  border: 1px solid #EEE;
}
div.kcuF .kcuF-grid .grid-body tbody td a {
  text-decoration: none;
}
div.kcuF .kcuF-grid .grid-body tbody td a:hover {
  text-decoration: underline;
}
div.kcuF .kcuF-grid .grid-body tbody td button.tiny {
  margin-left: 4px;
}
div.kcuF .kcuF-grid .grid-body tbody td .string {
  color: #999;
}
div.kcuF .kcuF-grid .grid-body tbody td .boolean {
  color: #03C;
}
div.kcuF .kcuF-grid .grid-body tbody td .number {
  color: #C00;
}
div.kcuF .kcuF-grid .grid-body tbody td .object {
  color: #609;
}
div.kcuF .kcuF-grid .grid-body tbody td .array {
  color: #F60;
}
div.kcuF .kcuF-grid .grid-body tbody td .function {
  color: #090;
}
div.kcuF .kcuF-grid .grid-body tbody td .xml {
  color: #09C;
}
/* dialog contents */
div.kcuF-dlg-errorreport,
div.kcuF-dlg-dependances {
  color: #666;
}
div.kcuF-dlg-errorreport h4,
div.kcuF-dlg-dependances h4 {
  line-height: 1.4;
}
div.kcuF-dlg-errorreport div,
div.kcuF-dlg-dependances div {
  margin: 2px 0 2px 8px;
}
div.kcuF-dlg-about h4 {
  font-size: 120%;
}
div.kcuF-dlg-about h4 span {
  font-size: 140%;
}
div.kcuF-dlg-about b.powered-by {
  line-height: 2;
}
div.kcuF-dlg-about ul.powered-bys {
  margin-left: 20px;
}
div.kcuF-dlg-about ul.powered-bys li {
  line-height: 1.2;
  list-style: disc;
}
div.kcuF-dlg-settings input[type=checkbox] {
  margin-right: 4px;
}
/* tooltip contents */
table.kcuF-tooltip-details {
  table-layout: fixed;
}
table.kcuF-tooltip-details th,
table.kcuF-tooltip-details td {
  font-size: 85%;
}
table.kcuF-tooltip-details th {
  text-align: right;
  padding-right: 4px;
  font-weight: bold;
  line-height: 1.15;
}
