ul.kcuF-menu {
	min-width: 150px;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 2px;
	position: absolute;
	text-shadow: 1px 1px 1px #CCC;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 1px 1px 3px #999;
		-moz-box-shadow: 1px 1px 3px #999;
		-webkit-box-shadow: 1px 1px 3px #999;
	top: -10000px;
	list-style: none;
}
ul.kcuF-menu li {
	line-height: 20px;
	font-size: 12px;
	position: relative;
}
ul.kcuF-menu li span.icon {
	position: absolute;
	top: 3px;
	left: 4px;
	width: 14px;
	height: 14px;
	background: #EEE;
}
ul.kcuF-menu li a,
ul.kcuF-menu li a:hover {
	text-decoration: none;
}
ul.kcuF-menu li a {
	color: #666;
	padding: 0 4px 0 20px;
	display: block;
	cursor: pointer;
}
ul.kcuF-menu li a:hover {
	color: #333;
	background: #EEE;
		background: -moz-linear-gradient(top, #EEE, #DDD 60%, #DDD);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#DDD), color-stop(60%, #DDD));
		filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#EEE, endColorStr=#DDD);
}
ul.kcuF-menu li.disabled a,
ul.kcuF-menu li.disabled a:hover {
	background: none;
	cursor: default;
	color: #CCC;
}
ul.kcuF-menu li.separator {
	border-bottom: 1px solid #CCC;
	margin-bottom: 2px;
	padding-bottom: 2px;
}
ul.kcuF-menu.horizontal li {
	float: left;
	min-width: 50px;
}
ul.kcuF-menu.horizontal li.separator {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
ul.kcuF-menu.horizontal li a {
	padding: 0 8px;
}