/* minus reset */
html, body,
div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn,
font, img,
ins, kbd, q, s, samp,
small, strike, strong, sub, sup,
tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 10pt;
	font-family: Arial;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
textarea {
	resize: none;
}
a {
	text-decoration: none;
	color: #339;
}
a:hover {
	text-decoration: underline;
	color: #39C;
}