.markdown {
  table {
    font-size: 14px;
    
    tr {
      border-top: 0;
    }
    
    tbody {
      tr {
        border-bottom: 1px solid var(--ifm-table-border-color);
      }
    }
    
    th,
    td {
      border: 0;
      text-align: left;
      
      &:first-child {
        min-width: 150px;
      }
    }
  }
  
  code {
    border: none;
  }
  
  del {
    color: var(--ifm-color-emphasis-400);
  }
  
  > h1 {
    font-size: xx-large;
  }
  
  > h2 {
    /* 修改 --ifm-h2-vertical-rhythm-top 无效 */
    margin-top: 4rem;
    font-size: x-large;
  }
  
  > h3 {
    margin-top: 2.5rem;
    font-size: large;
  }
  
  > h4 {
    font-size: 14px;
  }
}
